<section>
  <div class="container">
    <form>
      <fieldset>
        <legend>Benefit Form</legend>
        <p>Lorem ipsum dolor sit amet.</p>

        <div class="row">
          <div class="col-12 mb-3">
            <input
              class="form-control"
              type="number"
              placeholder="Enter Employee Id"
              aria-label="default input example"
            />
          </div>
          <div class="col-12 mb-3">
            <input
              class="form-control"
              type="text"
              placeholder="Enter Employee Name"
              aria-label="default input example"
            />
          </div>
          <div class="col-12 mb-3">
            <input
              class="form-control"
              type="number"
              placeholder="Number of Booster"
              aria-label="default input example"
            />
          </div>

          <div class="col-12 mb-3">
            <input
              class="form-control"
              type="number"
              placeholder="Enter Days after Last Dose"
              aria-label="default input example"
            />
          </div>
          <div class="col-12 mb-3">
            <label for="formFileMultiple" class="form-label"
              >Upload Booster certificate</label
            >
            <input
              class="form-control"
              id="formFileMultiple"
              type="file"
              placeholder="Default input"
              aria-label="default input example"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>
</section>
